* {
  margin: 0%; }

body {
  background-image: url("../assets/img/fonfoblanco.jpg"); }

a {
  text-decoration: none;
  color: #920000;
  font-weight: bold;
  font-family: "IM Fell DW Pica", serif;
  transition: color; }

a:hover {
  color: #ffa570; }

@media only screen and (min-width: 1024px) {
  .classNavUl {
    list-style-type: none;
    position: relative;
    top: -100px;
    left: -5px !important;
    padding: 0px;
    display: flex;
    justify-content: center !important; }
  .classNavLi {
    font-size: 30px;
    color: #837878;
    list-style: none;
    padding: 10px;
    margin: 10px 0px 0px 0px; }
  .header--position {
    background-color: black;
    border-bottom: 6px solid orangered;
    height: 110px;
    width: 100%; }
  .div_img--border {
    margin: 5px 0px 5px 5px;
    border-radius: 5px !important; } }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .classNavUl {
    list-style-type: none;
    margin: 2px 5px 0px -250px;
    display: flex;
    justify-content: flex-end;
    width: 100% !important; }
  .classNavLi {
    font-size: 15px;
    color: #837878;
    list-style: none;
    padding: 10px;
    margin: 10px 3px 0px 0px !important;
    margin-left: -7px !important; }
  .header--position {
    background-color: black;
    border-bottom: 6px solid orangered;
    height: 110px;
    width: 100%; }
  .div_img--border {
    border-radius: 28px;
    margin-top: 10px !important;
    margin-left: 160px !important;
    margin-bottom: 80px !important;
    width: 20%; } }

* {
  margin: 0%; }

body {
  background-image: url("../assets/img/fonfoblanco.jpg"); }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .main_section--titulos {
    font-size: 20px;
    color: #920000;
    font-weight: bold;
    font-family: "Arvo";
    display: flex;
    align-items: center; }
  .main_div--parrafopresentacion {
    font-family: "IM Fell DW Pica", serif;
    font-size: 20px;
    margin: 5px 10px 5px 0px; }
  .main_section--parallax {
    background-image: url("../assets/img/cerveza10.b.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
    width: 90%;
    border-bottom: 5px solid black;
    margin-left: -1px !important; }
  .main_section--iframe {
    display: flex;
    justify-content: center;
    margin-left: -1px;
    margin-right: -1px;
    transform: skewX(-20deg); } }

@media only screen and (min-width: 1024px) {
  .main_section--titulos {
    font-size: 50px;
    color: #920000;
    font-weight: bold;
    font-family: "Arvo";
    display: flex;
    justify-content: center; }
  h2 {
    margin: auto; }
  .main_div--parrafopresentacion {
    font-family: "IM Fell DW Pica", serif;
    font-weight: bold;
    font-size: 30px; }
  .main_section--parallax {
    background-image: url("../assets/img/cerveza10.jpg") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 610px;
    width: 99% !important;
    border: 4px solid black !important;
    margin-left: 7px !important; }
  .main_section--iframe {
    margin-left: -15px !important;
    display: flex;
    justify-content: center;
    background-image: url("../assets/img/fondocarta.jpg");
    transform: skewX(0deg) !important;
    transition: margin 3s; }
  .main_section--iframe:hover {
    margin: 50px; } }

* {
  margin: 0%; }

body {
  background-image: url("../assets/img/fonfoblanco.jpg"); }

.footer_img--posicion {
  width: 30px;
  height: 30px;
  margin: 0px 20px; }

.footer_leetralogo--posicion-padre {
  display: flex;
  justify-content: center; }

@media only screen and (min-width: 1024px) {
  .footer_div--decoracion {
    background-image: url("../assets/img/fondofooterr.jpg");
    width: 100%;
    height: 200px; }
  .footer_leetralogo--posicion {
    width: 70px;
    height: 70px;
    display: flex;
    margin: 30px; }
  .footer_redes--posicion {
    display: flex;
    justify-content: center;
    margin: 20px 20px; }
  .classfooterLi {
    list-style: none;
    font-size: 25px; }
  .classfooterUl {
    display: flex;
    flex-direction: row; } }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .footer_div--decoracion {
    background-image: url("../assets/img/fondofooterr.jpg");
    width: 100%;
    height: 300px; }
  .footer_leetralogo--posicion {
    width: 40px;
    height: 40px;
    display: flex;
    margin: 10px; }
  .footer_redes--posicion {
    display: flex;
    justify-content: center;
    margin: 5px 10px; }
  .classfooterLi {
    list-style: none;
    font-size: 16px; }
  .classfooterUl {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; } }

* {
  margin: 0%; }

body {
  background-image: url("../assets/img/fonfoblanco.jpg"); }

@media only screen and (min-width: 1024px) {
  .gridContainerPadre {
    display: grid;
    grid-template-areas: "header header header  " "main main main  " "footer footer footer ";
    grid-template-rows: 110px auto 200px;
    grid-template-columns: 25% auto 25%; }
  header {
    grid-area: header; }
  main {
    grid-area: main; }
  footer {
    grid-area: footer; }
  .flex {
    display: flex; } }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .gridContainerPadre {
    display: grid;
    grid-template-areas: "header " "main" "footer";
    grid-template-rows: 110px auto 300px;
    grid-template-columns: 100%; }
  header {
    grid-area: header; }
  main {
    grid-area: main; }
  footer {
    grid-area: footer; }
  .flex {
    display: flex;
    justify-content: center; } }
