$bordo: rgb(146, 0, 0);
$salmon: rgb(255, 165, 112);
$gris: rgb(131, 120, 120);
$negro: rgb(0, 0, 0);
$anaranjado: orangered;
$desktop: 1024px;
$minimomobile: 0px;
$maximomobile: 768px;
* {
  margin: 0%;
}
body {
  background-image: url("../assets/img/fonfoblanco.jpg");
}
a {
  text-decoration: none;
  color: $bordo;
  font-weight: bold;
  font-family: "IM Fell DW Pica", serif;
  transition: color;
}
a:hover {
  color: $salmon;

@media only screen and (min-width: $desktop) {
  .classNavUl {
    list-style-type: none;
    position: relative;
    top: -100px;
    left: -5px !important;
    padding: 0px;
    display: flex;
    justify-content: center !important;
  }
  .classNavLi {
    font-size: 30px;
    color: $gris;
    list-style: none;
    padding: 10px;
    margin: 10px 0px 0px 0px;
  }
  .header--position {
    background-color: $negro;
    border-bottom: 6px solid $anaranjado;
    height: 110px;
    width: 100%;
  }
  .div_img--border {
    margin: 5px 0px 5px 5px;
    border-radius: 5px !important;
  }
}
@media only screen and (min-width: $minimomobile) and(max-width:$maximomobile){
   .classNavUl {
    list-style-type: none;
    margin: 2px 5px 0px -250px;
    display: flex;
    justify-content: flex-end;
    width: 100% !important;
  }
  .classNavLi {
    font-size: 15px;
    color: rgb(131, 120, 120);
    list-style: none;
    padding: 10px;
    margin: 10px 3px 0px 0px !important;
    margin-left: -7px !important;
  }
  .header--position {
    background-color: $negro ;
    border-bottom: 6px solid $anaranjado;
    height: 110px;
    width: 100%;
  }
  .div_img--border {
    border-radius: 28px;
    margin-top: 10px !important;
    margin-left: 160px !important;
    margin-bottom: 80px !important;
    width: 20%;
  }
}
}